{% schema %}
{
"name": "Custom Menu",
"settings":[
    {
    "type":"color",
    "id":"menu_link_color",
    "label": "Cor dos links",
    "default": "000000"
}
]
}
{% endschema %}

<nav class="custom-menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#"> Produtos</a></li>
        <li><a href="#">Sobre Nós</a></li>
    </ul>
</nav>

<style>
    .custom-menu{
    text-align:center;
    background-color:#fff;
    padding: 10px 0px;
    }
    .custom-menu ul{
        list-style:none;
        margin:0;
        padding:0;
        display:flex;
        justify-content:center;
        gap:20px;
    }
    .custom-menu a{
        text-decoration: none;
        color: {{ settings.menu_link_color }}!important;
        font-weight: bold;
    }
</style>