<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- novos metas -->
    <!-- theme-check-disable -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel=" stylesheet" href="index.css">
    <!-- theme-check-enable -->
    <title>Brava Casa - móveis sofisticados</title>
  </head>
  <body>
    <header class="row w-100a" id="topo">
      <div class="col-lg-2 col-md-2 col-3 mt-lg-3">
        <!-- coluna link home -->
        <br>
        <a href="index.html" id="nomeLJ">BRAVA CASA</a>
      </div>
      <!-- fim coluna link home -->
      <div class="col-lg-8 col-md-8 col-6 mt-lg-4">
        <!-- coluna navegação / menu -->
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle Menu" href="#" role="button">Coleções</a>
              <ul class="dropdown-menu">
                <li><a class=" dropdown-item Menu" href="#">Sofás</a></li>
                <li><a class=" dropdown-item Menu" href="#">Mesas</a></li>
                <li><a class=" dropdown-item Menu" href="#">Poltronas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link Menu" href="sobrenos.html">Sobre nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Menu" href="politicas.html">Políticas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Menu" href="#Atendimento">Atendimento</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- fim coluna navegação / menu -->
      <!-- coluna navegação loja mobile: pesquisa,login e carrinho -->
      <div class="col-3 col-md-2">
        <nav class="navbar navbar-expand-lg ">
          <!-- menu colapsado para mobile -->
          <!-- botão para abrir o modal -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#menuModal"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Fim botão para abrir o modal -->
          <!-- Modal -->
          <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content ">
                <div class="modal-body  " id="menuMobile">
                  <div class="row mb-3">
                    <button type="button" class="btn-close mx-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <!-- Segunda linha: links com ícones -->
                  <div class="row">
                    <div class="col-4">
                      <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          fill="currentColor"
                          class="bi bi-search icon"
                          viewBox="0 0 16 16"
                        >
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                        <span>Pesquisa</span>
                      </a>
                    </div>
                    <div class="col-4">
                      <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          fill="currentColor"
                          class="bi bi-person icon"
                          viewBox="0 0 16 16"
                        >
                          <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                          <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        <span>Login</span>
                      </a>
                    </div>
                    <div class="col-4">
                      <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          fill="currentColor"
                          class="bi bi-cart icon"
                          viewBox="0 0 16 16"
                        >
                          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                        <span>Carrinho</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- Fim Modal -->
        <!-- coluna navegação loja para telas grandes: pesquisa,login e carrinho -->
        <div class="d-none d-lg-flex justify-content-around align-items-center">
          <!-- botão pesquisa -->
          <a class="icon mx-md-3 mx-lg-1 " href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-search my-4 my-lg-2 mx-lg-1"
              viewBox="0 0 16 16"
            >
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </a>
          <!-- Fim botão pesquisa -->
          <!-- botão login -->
          <a class="icon  mx-3  " href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-file-person my-4 mx-lg-1"
              viewBox="0 0 16 16"
            >
              <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
              <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
          </a>
          <!-- Fim botão login -->
          <!-- botão carrinho -->
          <a class="icon  mx-md-3 mx-lg-1  " href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-cart2 my-4 "
              viewBox="0 0 16 16"
            >
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
            </svg>
          </a>
          <!-- Fim botão carrinho -->
        </div>
      </div>
      <!-- Fim Coluna navegação usuário -->
    </header>

    <main>
      <div class="col-12 " id="Promocoes">
        <!-- merchandise de promoção -->
        <h1>PROMOÇÃO DO MÊS</h1>
      </div>
      <!-- fim merchandise de promoção -->

      <div class="position-relative" id="Produtos">
        <!-- imagem interativa -->
        <!-- imagem principal -->
        <img src="principal.jpg" class="img-fluid w-100">
        <!-- link de interação 1 -->
        <a
          href="#"
          class="position-absolute translate-middle badge bg-primary text-white text-decoration-none"
          id="P1"
        >
          <div id="detalheP1">
            <img src="potrona.webp">
            <p>NOME</p>
            <p>R$ 100,00</p>
          </div>
        </a>

        <a
          href="#"
          class="position-absolute translate-middle badge bg-primary text-white text-decoration-none"
          id="P2"
        >
          <div id="detalheP2"></div>
        </a>
      </div>
      <!-- fim imagem interativa -->

      <div class="col-md-12 col-sm-8" id="Categorias">
        <!-- categorias produtos -->
        <h2>CATEGORIAS</h2>
        <div class="row w-100">
          <div class="card col-lg-2  col-md-4 offset-md-1 col-sm-4 mb-3 ">
            <!-- Primeiro card -->
            <a href="#">
              <div class="card-body">
                <h5>SOFÁ</h5>
              </div>
              <div id="carrossel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item ">
                    <img src="potrona.webp" class="card-img-bottom img-fluid w-100  " alt="Sofás">
                  </div>
                  <div class="carousel-item active">
                    <img src="principal.jpg" class="card-img-bottom img-fluid w-100" alt="imagem 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carrossel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrossel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </a>
          </div>
          <!-- Fim Primeiro card -->

          <div class="card col-lg-2  col-md-4 offset-md-1 col-sm-4 mb-3">
            <!-- Segundo Card -->
            <a href="#">
              <div class="card-body">
                <h5>MESAS</h5>
              </div>
              <div id="carrossel2" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img src="potrona.webp" class="card-img-bottom img-fluid w-100" alt="Sofás">
                  </div>
                  <div class="carousel-item ">
                    <img src="principal.jpg" class="card-img-bottom img-fluid w-100" alt="imagem 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carrossel2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrossel2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </a>
          </div>
          <!-- Fim Segundo Card -->

          <div class="card col-lg-2  col-md-4 offset-md-1 col-sm-4 mb-3">
            <!-- Terceiro Card -->
            <a href="#">
              <div class="card-body">
                <h5>OUTROS</h5>
              </div>
              <div id="carrossel3" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img src="potrona.webp" class="card-img-bottom img-fluid w-100" alt="Sofás">
                  </div>
                  <div class="carousel-item ">
                    <img src="principal.jpg" class="card-img-bottom img-fluid w-100" alt="imagem 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carrossel3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrossel3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </a>
          </div>
          <!-- Fim Segundo Card -->

          <div class="card col-lg-2  col-md-4 offset-md-1 col-sm-4 mb-3">
            <!-- Quarto Card -->
            <a href="#">
              <div class="card-body">
                <h5>ILUMINAÇÃO</h5>
              </div>
              <div id="carrossel4" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img src="potrona.webp" class="card-img-bottom img-fluid w-100" alt="Sofás">
                  </div>
                  <div class="carousel-item ">
                    <img src="principal.jpg" class="card-img-bottom img-fluid w-100" alt="imagem 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carrossel4" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrossel4" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </a>
          </div>
          <!-- Fim Segundo Card -->

          <div class="card col-lg-2 col-md-4 offset-md-1 col-sm-4 mb-3">
            <!-- Quinto Card -->
            <a href="#">
              <div class="card-body">
                <h5>CADEIRAS</h5>
              </div>
              <div id="carrossel5" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img src="potrona.webp" class="card-img-bottom img-fluid w-100" alt="Sofás">
                  </div>
                  <div class="carousel-item ">
                    <img src="principal.jpg" class="card-img-bottom img-fluid w-100" alt="imagem 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carrossel5" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrossel5" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </a>
          </div>
          <!-- Fim Segundo Card -->
        </div>
      </div>
      <!-- fim categorias produtos -->

      <!-- botão topo página -->
      <div id="btntopo">
        <a href="#topo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-arrow-up-circle-fill"
            viewBox="0 0 16 16"
          >
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
          </svg>
        </a>
      </div>
      <!-- fim botão topo página -->

      <div id="Atendimento" class=" col-10 offset-1 mb-4 mt-4">
        <!-- Atendimento -->
        <br>
        <h2>ATENDIMENTO</h2>
        <br>
        <p>Precisa de ajuda? Tem dúvidas?</p>
        <br>
        <a href="mailto:gusta.gustavo.m@gmail.com">Fale Cosnosco!</a>
        <br>
        <br>
      </div>
      <!-- Fim Atendimento -->
    </main>

    <footer class="col-12" id="Mapa">
      <div>
        <!-- mapa site -->
        <h2>MAPA DO SITE</h2>
        <div class="row w-100 justify-content-center">
          <div class="col-sm-3 col-lg-3 offset-lg-1">
            <ul class="list-unstyled">
              <li><h5>Site</h5></li>
              <li><a href="#Produtos" class="linkMapa">Produtos</a></li>
              <li><a href="#Categorias" class="linkMapa">Categorias</a></li>
              <li><a href="#Atendimento" class="linkMapa">Atendimento</a></li>
              <li><a href="sobrenos.html" class="linkMapa">Sobre nós</a></li>
              <li><a href="politicas.html" class="linkMapa">Políticas</a></li>
            </ul>
          </div>
          <div class="col-sm-3 ">
            <ul class="list-unstyled">
              <li><h5>Categorias</h5></li>
              <li><a href="#" class="linkMapa">Sofás</a></li>
              <li><a href="#" class="linkMapa">Mesas</a></li>
              <li><a href="#" class="linkMapa">Iluminação</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- fim mapa site -->
      <div>
        <!-- selos  e copyright -->
        <div class="row w-100">
          <div class="col-lg-2 offset-lg-4 col-sm-3">
            <p>Formas de pagamento</p>
            <img src="Bandeiras-1.webp">
          </div>
          <div class="col-lg-3 offset-lg-1 col-sm-2">
            <p>&copy;Brava Casa Todos os direitos reservados</p>
          </div>
          <div class="col-lg-2 col-sm-2">
            <p>Redes sociais</p>
            <a href="https://www.instagram.com/bravacasamoveis/" alt="redes sociais">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-instagram"
                viewBox="0 0 16 16"
              >
                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!-- fim selos e copyright -->
    </footer>
    <!-- theme-check-disable -->
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- theme-check-enable -->
  </body>

  <!--
    desenvolvedor responsável: Alex Martins Raiol. Contato: https://www.workana.com/freelancer/48f6dafe6745a0938742cdfdfc7f961c
  -->
</html>
